<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Archivo de Audio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1 class="mainTitle">Subir Archivo de Audio</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="text" name="program_name" placeholder="Nombre o sigla del programa">
<!--         <input type="file" name="file" required>
 -->        
 <div id="drop-area">
    <p id="drop-text">Arrastra tu archivo aquí o haz clic para seleccionarlo</p>
    <input type="file" id="fileInput" name="file" hidden>
</div>
<p id="file-name"></p> <!-- Aquí se mostrará el nombre del archivo -->

 <button type="submit">Subir y procesar</button>
    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>



