header{
  width: 100%;
  text-align: center;
  .mainTitle{
    font-size: larger;
    padding: 2rem;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    background: rgb(0, 0, 0);
  }
}