header{
  width: 100%;
  text-align: center;
  .mainTitle{
    font-size: larger;
    padding: 2rem;
    width: 100%;
    color: $silver-lake-blue;
    text-align: center;
    background: rgba(13, 27, 42, 0.526);
  }
}