body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
  background: $gradient-bottom-left;
  .mainTitle{
    font-size: larger;
    color: $federal-blue;
  }
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 1rem;
  gap: 1rem;
  input{
    padding: 1rem;
    border-radius: 10px;
    width: 20%;
  };
  button{
    padding: 1rem;
    border-radius: 10px;
    background: white;
    width: 20%;
  }

  #drop-area {
    width: 80%;
    height: 50vh;
    border: 2px dashed $marian-blue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background: $non-photo-blue-2;
    p {
      color:$marian-blue;
      font-weight: bold;
    }
  }
  #drop-area.highlight {
    border-color: $honolulu-blue;
    background-color: $non-photo-blue;
  }
}